nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      .navbar-brand data-hook=""
        = logo

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li#link-to-cart data-hook=""
          noscript
            = link_to Spree.t(:cart), '/cart'
          |  
        javascript:
          | Spree.fetch_cart()

      form.navbar-form
        .form-group
          = render partial: 'spree/shared/search'

    .navbar-collapse.collapse.navbar-one
      - @taxonomies.each do |taxonomy|
        ul.nav.navbar-nav
          li
            a = taxonomy.name
